.top
  .main
    .main-item
      .main-item-profile
        .main-item-profile_text
          = link_to "profile", "#profile"
      .main-item-skill
        .main-item-skill_text
          = link_to "skill", "#skill"
      .main-item-deliverable
        .main-item-deliverable_text
          = link_to "deliverable", "#deliverable"
  #profile
    .profile-box
      .profile-box-title
        profile-プロフィール-
      .profile-box-parent
        .profile-box-parent-why
          why-エンジニアを目指したきっかけ-
        .profile-box-parent-why1
          社会経験は事務が殆どでプログラミングとは無縁の人生を過ごしてきました。
        .profile-box-parent-why2
          2019年3月に入社した会社のシステムツールの不便さに触れ、
        .profile-box-parent-why2
          この不便なツールを何とかしたいと思い、エンジニアを志し、2019年8月に退社しました。
        .profile-box-parent-why2
          2019年11月にプログラミングスクールに通いプログラミングを学びました。
        .profile-box-parent-why2
          2020年1月に卒業し、現在もプログラミング学習を続けています。
      .profile-box-parent2
        .profile-box-parent-like
          like-好きなもの-
        .profile-box-parent-like1
          映画
        .profile-box-parent-like2
          ショーシャンクの空に（映画）
        .profile-box-parent-like2
          最強のふたり
        .profile-box-parent-like2
          甘いもの
        .profile-box-parent-like2
          スタバのラテ
        .profile-box-parent-like2
          冬服
        .profile-box-parent-like2
          oasis（ロックバンド）

  #skill
    .skill-box
      .skill-box-title
        skill-スキル-
      .skill-box-language
        .skill-box-language-title
          使用言語-language-
        .skill-box-language_flame
          .skill-box-language_flame-1
            ・Ruby / Ruby on Rails
          .skill-box-language_flame-2
            ・Haml / scss
          .skill-box-language_flame-2
            ・JavaScript / Jquery
      .skill-box-infrastructure
        .skill-box-infrastructure-title
          インフラ-infrastructure-
        .skill-box-infrastructure_flame
          .skill-box-infrastructure_flame-1
            ・AWS（EC2・E3）
      .skill-box-db
        .skill-box-db-title
          DB-database-
        .skill-box-db_flame
          .skill-box-db_flame-1
            ・MySQL

  #deliverable
    .deliverable-box
      .deliverable-box-title
        deliverable-成果物-
      .deliverable-box-parent
        .deliverable-box-parent-app
          Deliverables_management
          .deliverable-box-parent-app-flame
            = link_to "http://18.176.176.199/" do
              .deliverable-box-parent-app-flame_detail
                = image_tag "app.png", height: "200", width: "350"
          .deliverable-box-parent-app_content
            .deliverable-box-parent-app_content-title
              内容
            .deliverable-box-parent-app_content-text
              医療システムの開発・販売・導入サポートを行う企業が
            .deliverable-box-parent-app_content-text
              使用する顧客管理用WEBアプリケーション
          .deliverable-box-parent-app_plan
            .deliverable-box-parent-app_plan-title
              企画背景
            .deliverable-box-parent-app_plan-text
              前職で使用していた顧客管理システムツールは情報の
            .deliverable-box-parent-app_plan-text
              管理をするに当たって、
            .deliverable-box-parent-app_plan-text
              複数のシステムツールを使用して管理を行っており、
            .deliverable-box-parent-app_plan-text
              情報が探しにくかっりして使いにくかったので、
            .deliverable-box-parent-app_plan-text
              もっと使いやすいツールを自分で作ってみたかった。
